{% extends 'base.html'%}
{% load static%}
{% block content %}
<div class="col-sm-12 fs-2 text-center pb-3 pt-2"><span style="text-decoration: underline #ff8800;">Men's</span> <b style="color:#ff9800">Product
    <i class="fa-solid fa-cart-shopping"></i></b>
    <!--start images-->
    <div class="container-fluid">
    <div class="card text-bg-dark">
  <img src="{% static 'images/bn24.jpg'%}" class="card-img" alt="..." height="500px">
  <div class="card-img-overlay">

  </div>
  </div>
</div>
    <!--End images-->

</div>
<div class="row">
<div class="col-sm-8">
 <!--start product-->
    <div class="row">
    {% for a in data %}
        <div class="col-sm-3 py-2 ">
            <div class="card bg-light">
            <img src="/{{a.ppic}}"style="max-height:200px;"/>
                <div class="card-body">
                    <h5 class="card-title">{{a.pcategory}}</h5>
                    <hr class="divider"/>
                    <b class="btn bg-ocolor">
                        <i class="fa-solid fa-indian-rupee-sign"></i></b>
                    <b class="text-danger fs-4"><s>{{a.pprice}}/</s></b>
                    <b class="text-dark fs-4">{{a.dprice}}/</s></b><br/><br/>
                    <p class="btn btn-sm bg-ocolor">{{a.psize}}</p>
                    <div style="height:20px;width:20px;border-radius:2px;background:{{a.pcolor}}"></div>
                    <i class="text-muted "><b>{{a.pdel}}</b> </i><br/>
                    <a href="/user/viewproduct/?abc={{a.id}}" class="btn btn-sm bg-ocolor">Order Now</a>
                    <a href="#" class="btn btn-sm bg-ocolor">Cart
                        <i class="fa-solid fa-cart-shopping text-dark"></i></a>
                    <span class="text-muted"><br/> <b>Date:</b>{{a.pdate}}<br/>
                    </span>
                </div>
                </div>
            </div>
    {% endfor %}

        <!--End product-->
    </div>


</div>
<div class="col-sm-4">
    <ul class="list-group">
        <li class="list-group-item active fs-4 text-light bg-dark fw-bold">Product Category</li>
        {% for x in cats %}
        <li class="list-group-item ">
        <!--start cart-->
            <div class="card mb-1 w-100">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/{{x.Cpic}}"style="max-height:100px;" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <a href="/user/mens?msg={{x.id}}"class="text-dark"style="text-decoration:none;">
        <h5 class="card-title">{{x.Name}}</h5>
          </a>
              </div>
    </div>
  </div>
</div>
        <!--end cart-->
        </li>
        {% endfor %}
    </ul>
</div>
</div>

{% endblock %}